*.[oa]
*.l[oa]
*.pyc
GNUmakefile
Makefile
/cleaner.h
/config.h
/config.log
/config.status
html/
/lib/.deps/
/libtool
/src/.deps/
/src/.libs/
/src/recode
/stamp-h1
/po/Makefile.in
/po/POTFILES
/po/stamp-po
/python/Recode.c
/tests/setup.py
